html{
  box-sizing:border-box;
  font-family:'Karla';
  font-size:16px;
}
h3,h4,p{
  margin:0;
}
body{
  padding:20px;
}
*, *:before, *:after{
  box-sizing:inherit;
}
#card{
  height:400px;
  width:600px;
/*   border:3px solid red; */
  box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
  border-radius:5px;
  overflow:hidden;
}
#top{
  height:45%;
  width:100%;
/*   border:2px solid green; */
  padding:25px;
}
#btm{
  height:55%;
  width:100%;
/*   border:2px solid blue; */
  color:white;
}
#b-left{
  display:inline-block;
  height:100%;
  width:50%;
/*   border:2px solid orange; */
  vertical-align:top;
  background-color:#2ab2af;
  padding:25px;
}
#b-right{
  display:inline-block;
  height:100%;
  width:50%;
/*   border:2px solid black; */
  vertical-align:top;
  background-color:#24c9c6;
  padding:25px;
}
#top h3{
  color:#2ab2af;
  margin-bottom:20px;
}
#top h4{
  color:#c0df34;
  margin-bottom:10px;
}
#top p{
  color: #98a6bd;
}
button{
  color:white;
  background-color:#c0df34;
  border:none;
  padding:10px;
  width:100%;
  border-radius:5px;
}
button:hover{
  cursor:pointer;
  background-color:#A9C42D;
  transform:scale(1.02);
}
#price{
  font-weight:700;
  font-size:1.4rem;
}
#b-left h4{
  margin-bottom:25px;
}
#b-left p{
  margin-bottom:40px;
  font-size:0.8rem;
}
#price-freq, #price{
  display:inline-block;
}
#price-freq{
  position:relative;
  top:-3px;
  font-size:0.8rem;
  opacity:0.7;
  margin:5px;
}
#price-cont{
 margin-bottom:10px;
}
ul{
  padding:0;
  list-style:none;
  font-size:0.8rem;
  opacity:0.8;
}
